---
import "../styles/global.css"
const {pageTitle, bodyClass} = Astro.props;
---
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
  </head>
  <body class={bodyClass}>
    <slot />
    <script>
        import "../scripts/menu.js";
    </script>
  </body>
</html>
